<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
<div  class="container text-center form mt-4 shadow p-3 mb-5 bg-body rounded">
  <h1 class="m-5">Strona główna</h1>
  <a class="badge rounded-pill p-3 mb-2 bg-secondary text-white" href="#" th:href="@{/register}">Zarejestruj się</a>
  <a class="badge rounded-pill p-3 mb-2 bg-secondary text-white" href="#" th:href="@{/login}">Zaloguj się</a>
  <a class="badge rounded-pill p-3 mb-2 bg-secondary text-white" href="#" th:href="@{/user}">Panel użykownika</a>
  <a class="badge rounded-pill p-3 mb-2 bg-secondary text-white" href="#" th:href="@{/admin}">Panel administratora</a></br>
    <img th:src="@{/img/worms.gif}" alt="this slowpoke moves"  width="250" />
</div>
</body>
</html>