<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</head>
<body>
<div class="container mt-5 shadow p-3 mb-5 bg-body rounded" th:object="${currentUser}">

  <h1 class="text-centre m-5">Mój panel</h1>

  <table class="table table table-striped mt-5"  >
    <thead>
    <tr class="text-center">
      <th>Nazwa użytkownika</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center">
      <td th:text="${currentUser.username}"></td>
      <td th:text="${currentUser.firstName}"></td>
      <td th:text="${currentUser.lastName}"></td>
      <td>
        <p>
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Zmień dane urzytkownika
          </button>
        </p>
      </td>
    </tr>
    </tbody>
  </table>
  <p>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body p-3 mb-2 bg-success text-black shadow p-3 mb-5 bg-body rounded">
      <input th:field="*{id}" hidden="">
      <form th:action="@{/change-account-details}" th:field="${userToEdit}" method="post">
        <div class="mb-3">
          <label for="firsName" class="form-label">Imię</label>
          <input th:field="*{firstName}" id="firsName" type="text" name="newFirstName" placeholder="Nowe imię">
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Nazwisko</label>
          <input th:field="*{lastName}" id="lastName" type="text" name="newLastName" placeholder="Nowe nazwisko">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Hasło</label>
          <input th:field="*{password}"id="password" type="text" name="newPassword" placeholder="Nowe hasło">
        </div>



        <button type="submit">Zmień</button>
      </form>
    </div>
  </div>
  <a href="/"class="badge rounded-pill p-3 mb-2 bg-secondary text-white mt-5">Powrót do strony głównej</a></br>

</div>

</body>
</html>